<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Poll-in: The Voting App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="loader-bg">
    <div class="logo_img" style="width:170px"></div>
    <div class="loader loader10"></div>
  </div>
    <header>
      <div class="hamburger-btn" id="hamburger-menu-btn"></div>
      <a href="/" class="logo_img"></a>
      <div class="login-area">
        <button id="login" class="btn btn-blue" onclick="show('sign-in-form');focusto('username-login')">Sign In</button>
        <button id="signup" class="btn btn-green" onclick="show('sign-up-form');focusto('username-signup')">Sign Up</button>
      </div>
      <div class="logged-in-area">
        <button id="usericon" data-userid="" class="btn btn-green">🙍‍ Username</a>
        <button id="signout" class="btn btn-red" onclick="signout()">Sign Out</button>
      </div>
      <div class="hamburger-menu">     
      </div>
    </header>
    <div class="modals">
      <div class="bg-layer"></div>
      <div id="sign-in-form" class="hidden">
          <a href="#" class="close-btn">X</a>
          <form action="/signin" method="post">
              <h2>Login to Poll-in</h2>
              <input type="text" name="username" id="username-login" placeholder="Username" required/>
              <input type="password" name="password" id="password-login" placeholder="Password" required minlength="8" pattern="\w{8}\w*"/>
              <button type="submit" class="btn btn-blue">Log in</button>
          </form>
      </div>
      <div id="sign-up-form" class="hidden">
              <a href="#" class="close-btn">X</a>
              <form action="/signup" method="post">
                  <h2>Sign up for Poll-in</h2>
                  <input type="text" name="username" id="username-signup" placeholder="Username" required  autocomplete="off"/>  <span id="username-status"></span>
                  <input type="password" name="password" id="password-signup" placeholder="Password" required minlength="8" pattern="\w{7}\w*"/>
                  <span style="color:#000080;">* Min 8 chars, only letters & numbers</span>
                  <input type="password" name="password-r" id="password-signup-repeat" placeholder="Repeat Password" required/><span id="password-status"></span>
                  <button type="submit" class="btn btn-green" disabled>Sign Up</button>
              </form>
      </div>
    </div>
    <div class="main-content">
      <div class="create-polls">
          <h3>Create a Poll</h3>
          <form action="/create-poll" method="POST" onsubmit="return createPoll()">
            <input type="hidden" name="userid" value="" id="poll-submit-auth"/>
            <input type="text" class="input-txt" name="question" id="question-to-submit" placeholder="Enter the question" style="width:80%;"/><br>
            <input type="text" class="input-txt" name="option1" placeholder="Enter the option1"/> &nbsp;
            <input type="text" class="input-txt" name="option2" placeholder="Enter the option2"/><br>
            <input type="text" class="input-txt" name="option3" placeholder="Enter the option3"/> &nbsp;
            <input type="text" class="input-txt" name="option4" placeholder="Enter the option4"/><br>
            <center><button type="submit" class="btn btn-blue" style="width:60%">Publish Poll</button></center>
          </form>
        </div>
      <div class="polls" id="trending-polls"></div>
    </div>
    <script src="client.js"></script>
    <script src="user.js"></script>
</body>
</html>